body {
  padding-top: 60px;
}
#game {
  position:fixed;
  top:60;left:2.5%;
  width:95%;
  height:90%;
  min-height:600px;
  margin:0 auto;
}
#log_space {
  border:1px solid #000;
  position:absolute;
  bottom:0; right:0;
  width:29.5%; height:40%;
  overflow-x:hidden;
  overflow-y:scroll;
}
#info_space {
  border:1px solid #000;
  position:absolute;
  top:0; right:0;
  width:29.5%; height:59.5%;
}
#public_space {
  border:1px solid #000;
  position:absolute;
  top:0; left:0;
  width:70%; height:40%;
}
#private_space {
  border:1px solid #000;
  position:absolute;
  top:40.5%; left:0;
  width:70%; height:30%;
}
#hand_space {
  border:1px solid #000;
  position:absolute;
  top:71%; left:0;
  width:70%; height:29%;
}
#form_space {
  border:1px solid #000;
  position:absolute;
}
