body {
  padding-top: 60px;
}
.center	{
  text-align: center;
}
#board, #board td {
  border:1px solid #000;
  font-size:20px;
}
.cell {
  width:50px;
  height:50px;
}
.pallet {
  width:50px;
  height:80px;
  font-size:30px;
  font-weight:bold;
}
.colora {
  background-color:#ff7f50;
}
.colorb {
  background-color:#ffff00;
}
.colorc {
  background-color:#ff69b4;
}
.colord {
  background-color:#00ff00;
}
.colore {
  background-color:#00ffff;
}
.colorf {
  background-color:#ff0000;
}
input[type=radio] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#calc {
  font-size:60px;
  width:300px;
  height:80px;
}
select {
  font-size:30px;
}
#message {
  font-size:40px;
  color:#ff0000;
  font-weight:bold;
}