body {
  padding-top: 60px;
}
#game {
  position:fixed;
  top:60;left:2.5%;
  width:95%;
  height:90%;
  min-height:600px;
  margin:0 auto;
}
#log_space {
  border:1px solid #000;
  position:absolute;
  bottom:0; right:0;
  width:29.5%; height:40%;
  overflow-x:hidden;
  overflow-y:scroll;
}
#info_space {
  border:1px solid #000;
  position:absolute;
  top:0; right:0;
  width:29.5%; height:59.5%;
}
#public_space {
  border:1px solid #000;
  position:absolute;
  top:0; left:0;
  width:70%; height:40%;
}
#private_space {
  border:1px solid #000;
  position:absolute;
  top:40.5%; left:0;
  width:70%; height:30%;
}
#hand_space {
  border:1px solid #000;
  position:absolute;
  top:71%; left:0;
  width:70%; height:29%;
  padding:2px;
}
#form_space {
  border:1px solid #000;
  position:absolute;
}
/* ハンドのカード */
.hand {
  position:relative;
  width:120px; height:115px;
  border:1px solid #0000ff;
  display:inline-block;
  margin:2px;
}
.hand_header {
  position:absolute;
  top:0px; left:0px;
  width:120px; height:20px;
  text-align:center;
  vertical-align:middle;
  font-size:16px;
  font-weight:bold;
}
.hand_footer {
  position:absolute;
  text-align:right;
  vertical-align:middle;
  font-size:16px;
  font-weight:bold;
  width:60px; height:20px;
}
.hand_category {
  bottom:0px; left:0px;
  text-align:left;
}
.hand_point {
  bottom:0px; right:0px;
  text-align:right;
}
.hand_image {
  position:absolute;
  top:20px; left:10px;
  width:100px; height:75px;
}
/* 公共のカード */
.public {
  position:relative;
  width:120px; height:115px;
  border:1px solid #0000ff;
  display:inline-block;
  margin:2px;
}
.public_header {
  position:absolute;
  top:0px; left:0px;
  width:120px; height:20px;
  text-align:center;
  vertical-align:middle;
  font-size:16px;
  font-weight:bold;
}
.public_footer {
  position:absolute;
  text-align:right;
  vertical-align:middle;
  font-size:16px;
  font-weight:bold;
  width:60px; height:20px;
}
.public_category {
  bottom:0px; left:0px;
  text-align:left;
}
.public_point {
  bottom:0px; right:0px;
  text-align:right;
}
.public_image {
  position:absolute;
  top:20px; left:10px;
  width:100px; height:75px;
}

.no_display {
  display:none;
}